#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.section {
  margin-bottom: 32px;
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 50px;

  border-radius: 10px;

  background-color: #16181a;
  border: 1px solid #ffff
}

.auth {
  display: flex;
  align-items: flex-start;
}

.auth button {
  margin-right: 16px;
}

.todo-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  border-bottom: 1px solid lightgrey;
  padding-top: 0;
  padding-bottom: 16px;
  align-items: center;
}

.todo-item.new input[type='text'] {
  padding: 8px 12px;
  flex: 1;
  margin-right: 8px;
}

.todo-item-text {
  flex: 1;
  margin-right: 8px;
}

.todo-item.completed .todo-item-text {
  text-decoration: line-through;
  color: grey;
}

.clear-all {
  margin-top: 20px
}

.new {
  padding-bottom: 50px;
}